.section {
  &__side-header {
    background: $font-color-brand-dark;

    @include media-breakpoint-up(lg) {
      height: em(600px);
      padding: em(70px) em(10px) 0 0;
    }
  }

  &__title {
    position: relative;
    margin: 0 0 0 em(30px, 30px);
    padding-left: em(37px, 30px);

    color: #fff;
    font-size: rem(30px);
    font-weight: 700;
    line-height: 0.8;

    &::before {
      content: '';

      width: 8px;
      height: 100%;
      position: absolute;
      left: 0;
      background: $font-color-brand;
      display: inline-block;
    }

    &--dark {
      margin: 0 0 0 em(17px, 30px);
      color: $font-color-brand-dark;
    }
  }
}