.contact {
  position: relative;
  background: $font-color-brand-dark;

  &__text-col {
    padding: em(30px) 0 0 0;

    @include media-breakpoint-down(lg) {
      flex: 0 0 100%;
    }

    @include media-breakpoint-up(lg) {
      max-width: em(315px);
      padding: em(95px) 0 0 0;

      border-right: 1px solid $font-color-brand;
    }
  }

  &__address {
    padding: em(33px) 0 em(10px);

    color: $font-color-light;
    line-height: 1.4;
    text-align: center;

    strong {
      display: block;
      margin-bottom: em(25px, 20px);

      color: $font-color-brand-light;
      font-size: rem(20px);
    }

    @include media-breakpoint-up(lg) {
      padding: em(175px) 0 em(130px);
      text-align: initial;
    }
  }

  &__logo-wrap {
    position: relative;
    padding: em(135px) 0 em(33px);

    @include media-breakpoint-down(lg) {
      padding: 0 0 30px;
      text-align: center;    
    }

    @include media-breakpoint-up(lg) {
      &::after {
        content: '';
        width: em(370px);
        height: 1px;
        position: absolute;
        right: 0;
        top: 0;
 
        background: $font-color-brand;
      }    
    }
  }

  &__map-col {
    @include media-breakpoint-down(lg) {
      flex: 0 0 100%;
    }

    @include media-breakpoint-up(lg) {
      max-width: calc(100% - 315px);
      position: relative;
      z-index: 2;
    }
  }

  &__form {
    padding: em(45px) em(35px) em(25px);
    background: $font-color-light;

    @include media-breakpoint-up(sm) {
      width: em(410px);
    }

    @include media-breakpoint-down(lg) {
      margin: 0 auto 70px;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 141px;
      left: 65px;
    }
  }

  &__form-btn {
    &:hover {
      border-color: $font-color-brand;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      right: 35px;
      bottom: -22px;
    }    
  }

  &__map {
    width: 100%;
    height: 300px;

    @include media-breakpoint-up(lg) {
      width: calc((1075px - 315px) + (100% - 1075px)/2);
      height: 100%;
      position: absolute!important;
      top: 0;
      right: 0;    
    }
  }
}