.requirements {
  &__inner {
    padding: em(45px) 0;

    @include media-breakpoint-up(lg) {
      padding: em(45px) 0 em(40px) em(114px);
    }
  }

  &__title {
    margin-bottom: em(23px, 20px);    
    font-size: rem(20px);
    font-weight: 700;
  }

  &__btn-wrap {
    padding-top: em(40px);

    @include media-breakpoint-up(lg) {
      padding: em(57px) em(143px) 0 0;
      text-align: right;
    }
  }
}