<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body id="home">
  <header class="l-header">
    <div class="l-header__container container">
      <nav class="navbar navbar-toggleable-md">
        <a class="navbar__brand" href="#home"><img class="navbar__brand-img" src="img/logo.png" alt="logo"></a>

        <button class="navbar__toggle-btn navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar__toggle-ico navbar-toggler-icon"></span>
        </button>

        <div class="navbar__collapse collapse navbar-collapse" id="main-navbar">
          <ul class="nav navbar-nav">
            <li class="nav__item">
              <a class="nav__link" href="#o-nas">O nas</a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="#zespol">Zespół</a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="#kompetencje">Kompetencje</a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="#zarzad">Zarząd</a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="#kariera">Kariera</a>
            </li>                 

            <li class="nav__item">
              <a class="nav__link" href="#kontakt">Kontakt</a>
            </li>                 

            <li class="nav__item nav__item--lang">
              <a class="nav__link nav__link--lang nav__link--lang-active" href="#">PL</a>
            </li>

            <li class="nav__item nav__item--lang">
              <a class="nav__link nav__link--lang" href="#">ENG</a>
            </li>
          </ul>
        </div>
      </nav>    
    </div>
  </header>

  <div class="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="banner__brand-col banner__col col">

        </div>

        <div class="banner__text-col banner__col col">
          <div class="banner__text-wrap">
            <div class="banner__text">
              <p>Niemożliwe to nie fakt.<br>
              To jedynie opinia.<br>
              Niemożliwe to nie deklaracja.<br>
              To wyzwanie.</p>          
            </div>

            <h1 class="banner__title">Dla nas niemożliwe to POTENCJAŁ MOŻLIWOŚCI.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="about section" id="o-nas">
    <div class="about__container container">
      <div class="about__row--title about__row">
        <div class="about__col-title about__col section__side-header">
          <h3 class="section__title">Kim Jesteśmy?</h3>
        </div>

        <div class="about__row--wrap about__row">
          <div class="about__row">
            <div class="about__img-wrap about__col">
              <img class="about__img" src="img/about-img-1.jpg" alt="">
            </div>

            <div class="about__text-wrap about__col--bottom about__col">
              <p class="about__text">Firmę założyli byli pracownicy Infovide-Matric SA, która była spółką giełdową 
              notowaną na GWP zanim została przejęta przez Asseco S.A.</p>
            </div>
          </div>

          <div class="about__row">
            <div class="about__text-wrap about__col">
              <p class="about__text">Firma specjalizuje sie glównie w projektowaniu i wdrożeniach rozwiązań bilingowych w oparciu o produkty firmy Oracle tj. Oracle CC&B oraz Oracle MDM.</p>
            </div>

            <div class="about__img-wrap about__col">
              <img class="about__img" src="img/about-img-2.jpg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="about__row">
        <div class="about__img-wrap about__col--padding-l about__col">
          <img class="about__img" src="img/about-img-3.jpg" alt="">
        </div>

        <div class="about__text-wrap about__col">
          <p class="about__text">Firmę założyli byli pracownicy Infovide-Matric SA, która była spółką giełdową 
          notowaną na GWP zanim została przejęta przez Asseco S.A.</p>
        </div>
      </div>

      <div class="about__row">
        <div class="about__text-wrap about__col--center about__col">
          <p class="about__text">Firmę założyli byli pracownicy Infovide-Matric SA, która była spółką giełdową 
          notowaną na GWP zanim została przejęta przez Asseco S.A.</p>
        </div>

        <div class="about__img-wrap about__col--padding-l about__col">
          <img class="about__img" src="img/about-img-4.jpg" alt="">
        </div>
      </div>      

    </div>
  </section>

  <div class="experiance">
    <div class="experiance__container container">
      <div class="experiance__inner">
        <img class="experiance__img" src="img/experiance-img.png" alt="">
        <p class="experiance__text">Wszyscy pracownicy posiadają <strong>doświadczenie</strong> w branży energetycznej,
        poprzez uczestnictwo w wielu projektach dla polskich koncernów
        energetycznych oraz PGNiG. Zespół liczy <strong>75 osób.</strong></p>
      </div>
    </div>
  </div>

  <div class="team" id="zespol">
    <div class="team__container container">
      <div class="row">
        <div class="team__about-col col">
          <h3 class="section__title">Zespół</h3>
          
          <div class="team__about-text-wrap">
            <div class="team__about-text">
              Posiadamy kompetencje w zakresie billingu gazowego i energetycznego, obsługi klienta, regulacji
              i uwarunkowań na rynku energetycznym standardów branżowych oraz w pełnym spektrum technologii – od warstwy sprzętowej po warstwę aplikacyjną.                
            </div>
          </div>
        </div>

        <div class="team__more-col col">
          <h4 class="team__more-title">75 pracowników<br>w Warszwie i Gdańsku</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="consumer">
    <div class="container">
      <div class="row">
        <div class="consumer__text-col col">
          <p class="consumer__text">
            Część naszych konsumentów obecna jest na polskim rynku
            energetycznym od kilkunastu lat.
            <br><br>
            W zespole pracują twórcy pierwszych
            systemów billingowych w Polsce.          
          </p>        
        </div>
      </div>    
    </div>

    <div class="consumer__img"></div>
  </div>

  <div class="projects">
    <div class="projects__container container">
      <div class="projects__text">
        Posiadamy doświadczenie w pełnym zakresie cyklu życia projektu,
        <strong>architektura, design, implementacja, testy, utrzymanie</strong>
        oraz pracy z dużymi koncernami i organizacjami          
      </div>

      <div class="projects__img-wrap">
        <img class="projects__img" src="img/projects-img.png" alt="">
      </div>
    </div>
  </div>

  <section class="competences" id="kompetencje">
    <div class="container">
      <div class="row">
        <div class="competences__col-title section__side-header">
          <h3 class="section__title">Kompetencje</h3>
        </div>

        <div class="competences__lists">
          <ul class="list competences__list">
            <li class="list__item">Oracle Utilities</li>
            <li class="list__item">MDM</li>
            <li class="list__item">Bazy danych</li>
            <li class="list__item">Serwery aplikacji</li>
            <li class="list__item">IBM WebSphere</li>
            <li class="list__item">HP ALM</li>
            <li class="list__item">Redmine</li>
            <li class="list__item">GIT/SVN/Mercurial</li>
            <li class="list__item">Technologie</li>
            <li class="list__item">UNIX/Linux</li>
            <li class="list__item">Java/J2EE</li>
            <li class="list__item">Groovy</li>
            <li class="list__item">Perl</li>
            <li class="list__item">Python</li>
            <li class="list__item">Prince</li>
            <li class="list__item">Design</li>            
          </ul>

          <ul class="list competences__list">
            <li class="list__item">OMG UML</li>
            <li class="list__item">Sparx Enterprise Architect</li>
            <li class="list__item">Software AG Aris</li>
            <li class="list__item">Testy</li>
            <li class="list__item">Test Management Tools</li>
            <li class="list__item">Apache Jmeter</li>
            <li class="list__item">Testing Automation</li>
            <li class="list__item">Agile/Scrum</li>
            <li class="list__item">Metodyki specyficzne dla wdrożeń billingowych (OUM-Implement)</li>
          </ul>

          <img class="competences__img" src="img/competences-img.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="management" id="zarzad">
    <div class="container">
      <h3 class="section__title--dark section__title">Zarząd</h3>

      <div class="management__list">
        <div class="management__item">
          <div class="management__img-wrap">
            <img class="management__img" src="img/managment-img-1.jpg" alt="">
          </div>

          <h4 class="management__item-title">Jan Kowalski</h4>
          <h5 class="management__item__position">Wiceprezes</h5>
        </div>

        <div class="management__item">
          <div class="management__img-wrap">
            <img class="management__img" src="img/managment-img-2.jpg" alt="">
          </div>

          <h4 class="management__item-title">Jan Kowalski</h4>
          <h5 class="management__item__position">Wiceprezes</h5>
        </div>

        <div class="management__item">
          <div class="management__img-wrap">
            <img class="management__img" src="img/managment-img-3.jpg" alt="">
          </div>

          <h4 class="management__item-title">Anna Kowalska</h4>
          <h5 class="management__item__position">Wiceprezes</h5>
        </div>

        <div class="management__item">
          <div class="management__img-wrap">
            <img class="management__img" src="img/managment-img-4.jpg" alt="">
          </div>

          <h4 class="management__item-title">Anna Kowalska</h4>
          <h5 class="management__item__position">Wiceprezes</h5>
        </div>                  

      </div>
    </div>
  </section>

  <section class="person">
    <div class="container">
      <div class="row">
        <div class="person__details-col col">
          <h5 class="person__name">Jan Kowalski</h5>

          <div class="person__text">
            <p>Lorem ipsum dolor sit amet, consctetur adipiscing elit, sed do eiusmod tempor.</p>

            <p>Lorem ipsum dolor sit amet, conscectetur adipiscing elit.</p>
          </div>

          <a class="person__link" href="#">zobacz CV</a>
        </div>

        <div class="person__img-col col">
          <img class="person__img" src="img/person.jpg" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="career" id="kariera">
    <div class="career__container container">
      <div class="row">
        <div class="career__col col">
          <h3 class="section__title">Kariera</h3>

          <div class="career__text-wrap">
            <h5 class="career__title">Lorem ipsum dolor sit?</h5>
            <div class="career__text">
              <p>Consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="career__banner">
        <div class="career__banner-text-wrap">
          <h3 class="career__banner-title">Programista Java</h3>
          <div class="career__banner-text">
            <p>Consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="requirements">
    <div class="container">
      <div class="requirements__inner">
        <h5 class="requirements__title">Wymagania:</h5>
        <div class="requirements__text-wrap">
          <ul class="list">
            <li class="list__item">Java</li>
            <li class="list__item">Oracle Utilities</li>
            <li class="list__item">MDM</li>
            <li class="list__item">Bazy danych</li>
            <li class="list__item">Kreatywność</li>
            <li class="list__item">Dbałość o detale</li>
            <li class="list__item">Terminowość</li>
          </ul>

          <div class="requirements__btn-wrap">
            <button class="requirements__btn-apply btn">Aplikuj</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact" id="kontakt">
    <div class="container">
      <div class="row">
        <div class="contact__text-col col">
          <h3 class="section__title">Kontakt</h3>

          <div class="contact__address">
            <strong>Essembli Sp. z o.o..</strong>
            <p>
              Aleje Jerozolimskie 162A<br>
              02-342 Warszawa
            </p>

            <p>
              KRS 000059641<br>
              NIP 5223051497
            </p>
          </div>

          <div class="contact__logo-wrap">
            <a href="#home" class="contact__logo-link">
              <img src="img/logo-footer.png" alt="logo" class="contact__logo">
            </a>
          </div>
        </div>

        <div class="contact__map-col col">
          <form class="contact__form form" action="">
            <p class="form__item">
              <input class="form__input" type="text" placeholder="Imię i Nazwisko">
            </p>

            <p class="form__item">
              <input class="form__input" type="text" placeholder="Adres email">
            </p>

            <p class="form__item">
              <input class="form__input" type="text" placeholder="Temat">
            </p>

            <p class="form__item">
              <textarea class="form__input form__textarea" placeholder="Treść..."></textarea>
            </p>       

            <button class="contact__form-btn form__btn btn">Wyślij</button>                             
          </form>
        </div>
      </div>
    </div>

    <div class="contact__map" id="contact__map"></div>
  </section>

  <footer class="l-footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="l-footer__copyright">Copyright &copy; Essembli. All Rights Reserved 2016</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://maps.googleapis.com/maps/api/js"></script>

</body>
</html>